body {
  font-family: -apple-system, BlinkMacSystemFont, sans-serif;
  font-size: 14px;
  color: var(--color-text-main);
  background-color: var(--color-bg);
  min-height: 100dvh;
  -webkit-tap-highlight-color: transparent;
}

#app {
  max-width: 500px;
  margin: 0 auto;
  min-height: 100dvh;
  background-color: var(--color-surface);
  display: flex;
  flex-direction: column;
}
